.profile__name {
  display: flex;
  margin-bottom: 16px;
  align-items: baseline;
}
@media (min-width: 320px) and (max-width: 920px) {
  .profile__name {
    margin-left: 25px;
    margin-top: 0px;
  }
}
